.movie-item{
    // border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 200px;
}

.movie-item__title{
    font-weight: bold;
}